#rules-sec{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 70px;

    width: calc(100vw);
    height: 600px;
    
    margin: auto;
    overflow-y: hidden;

    z-index: 0;

    user-select: none;
    -webkit-user-drag: none;

    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255), rgba(84, 81, 77, 0.5));
}

#rules {
    color: white;

    width: calc(100% - 30px);
    height: 600px;
    max-width: 800px;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    list-style-type: none;

    z-index: inherit;
    overflow-y: scroll;

    border-bottom-style: solid;
    border-bottom-color: rgba(84, 81, 77, 0.5);
}

#rules li {
    border-style: solid;
    padding: 10px;

    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#rules h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

#rules li{
    width: calc(100% - 40px);
    max-width: 800px;

    margin: 10px 0px;

    background: white;
    color: black;

    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 650px) {
    #rules-sec{
        height: 700px;
    }
}