.nav-bar{
    width: 100vw;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    top: 0px;
    left: 0px;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);

    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-bottom-width: 0.5px;

    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 700px;
    height: 100%;
    max-width: 700px;

    list-style: none;

    z-index: inherit;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    transition-duration: 0.3s;
    text-decoration: none;
    color: rgb(220, 220, 220);

    padding: 4px 8px;
    border-radius: 20px;
}

.white-menu{
    background: white;
    color: black;
}

.nav-links:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgb(26, 26, 26);
}

#hamburger-menu {
    display: none;
}

#logo{
    width: 50px;
    height: 50px;
    margin-left: 20px;

    border-bottom-style: solid;

    display: flex;
    align-items: center;
}

#logo a{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#logo a img{
    width: 30px;
    height: 30px;

    -webkit-user-drag: none;
    filter: invert(1);
}

@media (max-width: 900px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        width: 150px;
        height: 300px;
        max-width: 700px;
    
        padding: 3px 10px;

        margin: auto;
        list-style: none;

        background: #000;

        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        border-width: 0.5px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.2);

        position: fixed;
        top: 60px;
        right: 20px;

        transition-duration: 0.4s;

        transform: translateX(500%);
        z-index: 3;
    }
    
    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    .nav-links {
        transition-duration: 0.3s;
        text-decoration: none;
        color: rgb(220, 220, 220);
    
        padding: 4px 8px;
        border-radius: 5px;

        width: 100%;
    }

    #hamburger-menu{
        display: flex;
        filter: invert(1);

        position: fixed;
        top: 20px;
        right: 20px;

        height: 30px;
        width: 30px;

        cursor: pointer;

    }
    
    #hamburger-menu:hover{
        opacity: 0.8;
    }
    
    #hamburger-menu img {
        width: 100%;
        left: 100%;
        -webkit-user-drag: none;
    }

    .display-menu{
        transform: translateX(0%);
    }
}